@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

* {
  font-family: "Ubuntu", sans-serif;
}

/* @theme {} */

.companies .swiper-wrapper {
  align-items: center;
}

/* .team .swiper-wrapper {
  gap: 24px;
} */

.team .swiper-slide.swiper-slide-active {
  margin-top: 122px;
}

.team .swiper-slide.swiper-slide-next {
  margin-top: 58px;
}